/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #151617F2;
    bg1:    #151617;
    bg2:    #15161778;
    bg3:    #3E4547;
    fg0:    #D6D6D6;
    fg1:    #FFFFFF;
    fg2:    #9AA3A8;
    fg3:    #9AA3A8;
}

@import "common/rounded-common.rasi"
