[Desktop Entry]
Type=Application
Name=GRUB Background
Exec=grub-bg-changer.sh
StartupNotify=false
Terminal=false
Icon=preferences-desktop-wallpaper
Categories=ld-misc-tools;
