[Desktop Entry]
Type=Application
Name=Snap Installer
Exec=snap-installer
StartupNotify=false
Terminal=false
Icon=system-software-install
Categories=ld-misc-tools;
